<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FightsDatabase"
			 connectionString="server=localhost;user=root;database=mydb;port=3306;password=root"
			 providerName="MySql.Data.MySqlClient" />
		<add name="FightsDatabasePomelo"
			 connectionString="server=localhost;user=root;database=mydb;port=3306;password=root"
			 providerName="Pomelo.EntityFrameworkCore.MySQL" />
	</connectionStrings>
</configuration>